// Typography


h1, .h1 {
  @include media('<widescreen') {
    font-size: 60px;
  }
  @include media('<desktop') {
    font-size: 50px;
  }
  @include media('<tablet') {
   font-size: 40px;
  }
  @include media('<phone') {
    font-size: 30px;
  }
}

h2, .h2 {
  @include media('<widescreen') {
    font-size: 35px;
  }
  @include media('<desktop') {
    font-size: 30px;
  }
  @include media('<tablet') {
   font-size: 25px;
  }
  @include media('<phone') {
    font-size: 20px;
  }
}

h3, .h3 {
  @include media('<widescreen') {
    font-size: 30px;
  }
  @include media('<desktop') {
    font-size: 25px;
  }
  @include media('<tablet') {
   font-size: 20px;
  }
  @include media('<phone') {
    font-size: 18px;
  }
}

h4, .h4 {
  @include media('<widescreen') {
    font-size: 24px;
  }
  @include media('<desktop') {
    font-size: 22px;
  }
  @include media('<tablet') {
   font-size: 18px;
  }
  @include media('<phone') {
    font-size: 16px;
  }
}

h5, .h5 {
  @include media('<widescreen') {
    font-size: 17px;
  }
  @include media('<desktop') {
    font-size: 15px;
  }
  @include media('<tablet') {
   font-size: 13px;
  }
  @include media('<phone') {
    font-size: 12px;
  }
}

h6, .h6 {
  
}
