@import  url('https://fonts.googleapis.com/css?family=Oswald:400,600,700|Raleway');

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?uvp4xu');
  src:  url('../fonts/icomoon.eot?uvp4xu#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?uvp4xu') format('truetype'),
    url('../fonts/icomoon.woff?uvp4xu') format('woff'),
    url('../fonts/icomoon.svg?uvp4xu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moon:before {
  content: "\e900";
}
.icon-sun:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
